@model IEnumerable<Cargo_system_01.Models.View_bills>

@{
    ViewBag.Title = "ليست تراكنش مالي";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<div class="card-body">
    <h2>ليست تراكنش مالي</h2>
    <div class="card-body" style="overflow: auto;white-space: nowrap;">
        <table id="grid" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        وصولی
                    </th>
                    <th>
                        شماره سفارش
                    </th>
                    <th>
                        آدرس فرستنده
                    </th>
                    <th>
                        نام فرستنده
                    </th>
                    <th>
                        موبایل فرستنده
                    </th>
                    <th>
                        تاریخ ارسال
                    </th>
                    <th>
                        شهر مبدا
                    </th>
                    <th>
                        نام گیرنده
                    </th>
                    <th>
                        موبایل گیرنده
                    </th>
                    <th>
                        تاریخ دریافت
                    </th>
                    <th>
                        شهر مقصد
                    </th>
                    <th>
                        نوع بار
                    </th>
                    <th>
                        نوع بسته بندی
                    </th>
                    <th>
                        وزن بار
                    </th>>
                    <th>
                        تاریخ دریاف راننده
                    </th>
                    <th>
                        وضعیت بار
                    </th>
                    <th>
                        توضیحات
                    </th>
                    <th>
                        تاریخ بانک
                    </th>
                    <th>
                        هزینه
                    </th>
                    <th>
                        مالیات
                    </th>
                    <th>
                        هزینه کل
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.bills_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.vosoli)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.orders_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.from_adr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.from_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.from_mobile)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.from_date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.from_city)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.to_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.to_mobile)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.to_date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.to_city)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.load_type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.package_type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.load_weight)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.driver_date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.order_status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.date_bank)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tax)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.total_price)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
